/*Fuentes*/
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,,900&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root{

	/*Textos*/


	/*Colores*/
	--blanco:#fff;
	--negro:#000;
	--gris: #aaa;
	
	/*Botones*/
	--borderRadius: 5px;

	/*Transiciones*/
	--transicionS:.3s;
	--transicionL:.5s;
}

*{

	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: 'Roboto', sans-serif;
}

/*INICIO SCROLL BAR*/
::-webkit-scrollbar{

	width: 10px;
	background-color: var(--blanco);
}

::-webkit-scrollbar-thumb{

	border-radius: 0px;
	background: var(--colorUno);
}
/*FIN SCROLL BAR*/

body{
	
	background: #fafafa;
}

h1{

	text-align: center;
	font-size: 3em;
	margin: 50px 0;
	font-weight: 900;
	font-family: 'Poppins', sans-serif;
}
/*INICIO DEL CONTENEDOR DE LAS TARJETAS*/
.wrap{

	max-width: 1200px;
	width: 100%;
	margin: auto;
	padding: 0 10px;
}

.cards{

	display: grid;
	grid-gap: 50px;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
/*FIN DEL CONTENEDOR DE LAS TARJETAS*/

/*INICIO DE LA TARJETAS*/
.card{
	
	min-width: 300px;
	max-width: 375px;
	width: 100%;
	justify-self: center;
	transition: var(--transicionL) ease;
}

.card:hover{

	box-shadow: 0 0 20px 5px #dadada;
}
/*FIN DE LA TARJETAS*/

/*INICIO IMAGEN DE LA TARJETA*/
.card__image{

	width: 100%;
	height: 200px;
	position: relative;
}

.card__image .img{

	object-fit: cover;
	width: 100%;
	height: 100%;
}

.card__image .share{

	position: absolute;
	background: #ed4956;
	color: var(--blanco);
	bottom: 0;
	right: 20px;
	height: 56px;
	width: 56px;
	text-align: center;
	border-radius: 50%;
	transform: translateY(50%);
	cursor: pointer;
}

.card__image .share span{

	text-align: center;
	line-height: 56px;
}
/*FIN IMAGEN DE LA TARJETA*/

/*INICIO CUERPO DE LA NOTICIA*/
.card__body{

	padding: 20px;
	width: 100%;
	background: var(--blanco);
	word-wrap: break-word;
}

.body__date{

	font-size: 1em;
	color: var(--gris);
	font-weight: 600;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}

.body__date span{

	margin-right: 10px;
	font-size: 1.2em;
}

.body__tags{

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	margin: 10px 0px 20px 0px;
}

.body__tags p{

	font-size: .8em;
	font-weight: 300;
	padding: 5px 10px;
	margin: 10px 10px 0 0;
	background-color: #26a69a;
	border-radius: 50px;
	color: var(--blanco);
}

.body__tittle{

	font-size: 1.25em;
	font-family: 'Poppins', sans-serif;
	font-weight: 900;
	margin: 20px 0;
}

.body__paragraph{

	font-size: 1em;
	margin-bottom: 20px;
	line-height: 1.65;
	color: rgba(0,0,0,.6);
}
/*FIN CUERPO DE LA NOTICIA*/

/*INICIO DEL BOTON*/
.body__link{

	font-size: 1em;
	padding: 10px 0;
	color: var(--negro);
	border: 2px solid var(--negro);
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	transition: var(--transicionS);
	letter-spacing: 1px;
	text-transform: uppercase;
}

.body__link:hover{

	background: var(--negro);
	color: var(--blanco);
}
/*FIN DEL BOTON*/

/*INICIO DEL PERFIL*/
.card__profile{

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	padding: 20px;
	background: var(--blanco);
}

.profile__photo{

	width: 32px;
	height: 32px;
	margin-right: 10px;
	border-radius: 50%;
	overflow: hidden;
}

.profile__photo .img{

	width: 100%;
	height: 100%;
	object-fit: cover;
}

.profile__name{

	font-size: 1em;
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	letter-spacing: 1px;
}
/*FIN DEL PERFIL*/

/*INICIO DE LAS VISTAS LIKES Y COMPARTIR*/
.interaction{

	width: 100%;
	height: 70px;
	display: grid;
	grid-template-columns: repeat(3,1fr);
	-ms-align-items: center;
	align-items: center;
	background: var(--blanco);
}

.interaction .btn{

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
}

.interaction__like{

	position: relative;
}

.interaction__like span{

	color: #ed4956;
}

.interaction__like:before{

	content: "";
	display: block;
	position: absolute;
	width: 1px;
	height: 90%;
	background: var(--negro);
	left: 0;
	top: 0;
}

.interaction__like:after{

	content: "";
	display: block;
	position: absolute;
	width: 1px;
	height: 90%;
	background: var(--negro);
	right: 0;
	top: 0;
}

.interaction__share{

	cursor: pointer;
}
/*INICIO DE LAS VISTAS LIKES Y COMPARTIR*/

/*INICIO DE LAS VISTAS LIKES VERSION2*/
.interaction2{

	width: 100%;
	height: 70px;
	display: grid;
	grid-template-columns: repeat(2,1fr);
	-ms-align-items: center;
	align-items: center;
	background: var(--blanco);
}

.interaction2 .btn{

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
}

.interaction__like2{

	position: relative;
}

.interaction__like2 span{

	color: #ed4956;
}

.interaction__like2:before{

	content: "";
	display: block;
	position: absolute;
	width: 1px;
	height: 90%;
	background: var(--negro);
	left: 0;
	top: 0;
}
/*FIN DE LAS VISTAS LIKES VERSION2*/